.container {
  min-height: calc(100vh - 160px);
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 3rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.heading {
  font-weight: 400;
  font-size: 24px;
  color: #1d1d1d;
}

.uploadContainer {
  height: 480px;
  width: 620px;
  background-color: #f9f9f9;
  border: 2px #707070;
  border-style: dashed;
  border-radius: 10px;
  box-shadow: -3px 3px 14px rgba(0, 0, 0, 0.16);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 30px 0;
}

.topSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dragLabel {
  margin-top: 10px;
}

/* drag and drop */
.reject_file {
  border-color: red !important;
}

.accept_file {
  border-color: green !important;
}

.none_file {
  border-color: blue !important;
}
.viewer2 {
  display: none;
}
.viewer2_1 {
  height: 100vh;
  width: 100px;
  flex-grow: 2;
}
.MyComponent {
  height: auto;
}

.MyComponent2 {
  display: flex;
  flex-direction: row;
  gap: 1px;
}
.searchPanelleft {
  display: none;
}
.searchPanelleft2::after {
  content: auto;
}
.webviewer {
  height: 100vh;
}
.webviewer2 {
  flex-grow: 4;
  height: 100vh;
}
/* ParsePDF4*/
.MyComponent3 {
  display: none;
}
.MyComponent3_1 {
  height: auto;
  width: 600px;
}
