.search_container {
  overflow: auto;
  flex: 1;
  background-color: var(--search-background);
  padding: 1em;
  min-width: 293px;
  overflow-y: scroll;
  max-height: 100vh;
}

.search_container button {
  background-color: var(--search-buttons);
  border: none;
  outline: none;
  box-shadow: none;
}

.search_input * {
  vertical-align: middle;
  box-sizing: content-box;
  height: 28px;
  border: none;
}

.search_input input {
  border: 1px solid var(--grey-1);
  border-right: none;
}

.search_input input:focus {
  outline-style: solid;
  outline-color: var(--border);
}

.search_input button {
  border: 1px solid var(--border);
}

.search-buttons {
  display: flex;
}

.search_buttons button {
  margin: 0.5em;
  border: 1px solid var(--border);
}

.search_buttons > span:first-of-type {
  flex: 1;
}

.search_result {
  margin: 1em;
  padding: 1em;
  border: 1px solid var(--border);
  cursor: pointer;
  max-width: 275px;
}

.search_value {
  background-color: rgba(250, 206, 0, 0.50196);
}
